* {
  direction: rtl;
  font-family: IRANSans;
}

main {
  max-width: 2048px;
  min-height: 100px;
  margin: 0 auto;
}

.md-field.md-has-password .md-toggle-password {

  left: 0 !important;

}

.transform-100{
  transform: translateX(100%);
}
@include mq(2000){
  .hamburger-icon{
    display: none;
  }
}
@include mq(768) {
  aside {
    position: fixed;
    z-index: 900;
    width: 250px;
    height: 100vh;
    top: 0;
    transition: .2s;
    transform: translateX(100%);
    overflow: auto;

  }
  .logo-name{
    display: none;
  }
  .hamburger-icon{
    display: block;
    border-left: none !important;
    text-align: center !important;
    line-height: 77px !important;
    position: relative;
    right: 6px;
    top: 6px;
  }

}
@include mq(480){
  #notifications{
    display: none !important;
  }
}