* {
  direction: rtl;
  font-family: IRANSans;
}
.multiselect__tags{
  border: 1px solid #b7b7b7 !important;
}
.multiselect__content{
  border: 1px solid #b7b7b7 !important;
}
.charts-box-section .md-card {
  min-height: 300px !important;
  box-shadow: 0 0 10px 10px #b7b7b7 !important;
}

.vpd-input-group input {
  direction: ltr !important;
}

main {
  max-width: 2048px;
  min-height: 100px;
  margin: 0 auto;
}

.md-progress-bar-fill {
  background-color: #48A5EF !important;
}

.dz-details {
  border-radius: 10px !important;;
}

.dropzone {
  border-radius: 10px !important;
}

//.dz-progress{
//  display: none !important;
//}

.md-progress-bar {
  direction: ltr !important;
  height: 30px !important;
  width: 60% !important;
  margin: auto !important;
  border-radius: 38px !important;
}

.md-field.md-has-password .md-toggle-password {

  left: 0 !important;

}

.transform-100 {
  transform: translateX(100%);
}

.multiselect__tags {
  text-align: right !important;
}

.multiselect__element {
  text-align: center !important;

  span {
	text-align: center !important;
  }
}

.filter-section {
  margin: 30px 0;
}

.md-menu-content.md-select-menu .md-list {
  padding: 10px !important;
}

.filter-name {
  text-align: center;
  line-height: 44px;
  font-size: .9em;
}

.filter-item {
  padding: 0 17px;
}

aside .md-badge-content {
  position: absolute !important;
  left: -25px !important;
  top: 8px !important;
}

.notification-badge {
  display: inline-block;
  height: 10px;
  width: 10px;
  right: 33px;
  top: 19px;
  border-radius: 100%;
  background-color: #ff5252;
  position: absolute;
}

.number {
  width: 100px;
  margin: auto;
  font-weight: bold;
  height: 100px;
  color: rgba(112, 112, 112, 0.8);
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  font-size: 1.5em;
  background-color: rgba(248, 22, 12, 0.38);
  color: #fff;
}

label {
  display: block;
  margin: 10px 0;
}

.notifs {
  > div {
	margin-bottom: 20px;
  }
}

.notifs .md-card-content {

  position: relative !important;
  top: 8px !important;

  button {
	position: absolute;
	left: 10px;
	bottom: 1px;
  }
}

table.mceLayout, textarea.tinyMCE {
  width: 100% !important;
}


//tiny_mc
.tox {
  width: 100% !important;
}


/* on large screens, I use a different layout, so 600px are sufficient */
@media only screen and (min-width: 600px) {
  table.mceLayout, textarea.richEditor {
	width: 600px !important;
  }
}

.form-group {
  margin: 10px 0;
}

.md-field {
  background-color: #fff !important;
  padding-right: 10px !important;
  padding-bottom: 10px !important;
}

.md-field label {
  right: 27px !important;
}

.icons {
  display: flex;
  justify-content: center;
  align-content: center;
}

//responsive
@include mq(2000) {
  .hamburger-icon {
	display: none;
  }
}

@include mq(768) {
  aside {
	position: fixed;
	z-index: 900;
	width: 250px;
	height: 100vh;
	top: 0;
	transition: .2s;
	transform: translateX(100%);
	overflow: auto;

  }
  .logo-name {
	display: none;
  }
  .hamburger-icon {
	display: block;
	border-left: none !important;
	text-align: center !important;
	line-height: 77px !important;
	position: relative;
	right: 6px;
	top: 6px;
  }

}

@include mq(480) {
  #notifications {
	display: none !important;
  }
}

.delete {
  display: block;
  height: 45px;
  width: 145px;
  background-color: #ff5252;
  text-align: center;
  line-height: 44px;
  border-radius: 4px;
  box-shadow: 0 0 4px #000;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: .2s;

  &:hover {
	transform: scale(1.06);
  }
}

.vgt-responsive {
  max-height: 1000px !important;
}

.tox-textarea {
  text-align: left !important;
}

pre {
  display: block !important;
  color: #FFFFFF !important;
  background-color: #000000 !important;
  padding: 10px !important;
  text-align: left !important;
  direction: ltr !important;
}

.md-dialog-container.md-theme-default {
  padding: 30px;
}

.md-dialog-actions {
  display: flex !important;
  justify-content: start !important;
}

a {
  text-decoration: none !important;
  display: block !important;
  width: 145px;
  height: 45px;
  line-height: 45px;
}

.dz-error-message {
  display: none !important;
}

.md-overlay.md-fixed, body > .md-overlay {
  z-index: 10 !important;
}

.dropzone.dz-clickable {
  height: 360px !important;
  width: 300px !important;
  margin: auto !important;
}

.vue-dropzone > .dz-preview .dz-remove {
  display: block !important;
  width: 100px !important;
  position: absolute !important;
  left: 0 !important;
  right: 0 !important;
  margin: auto !important;
  font-family: IRANSans;
}

.delete-table-button {
  @extend .delete;
  margin: auto;
}

.edit {
  @extend .delete;
  background-color: #448aff;
}

.md-field {
  direction: ltr !important;
}

.vgt-wrap.rtl .vgt-table thead th, .vgt-wrap.rtl .vgt-table.condensed thead th {
  text-align: center !important;
}

.edit-table-button {
  @extend .edit;
  margin: auto;
}

.checkbox-table {
  cursor: pointer;
  width: 25px;
  height: 25px;
  display: block;
  margin: auto;
}
