* {
  direction: rtl;
  font-family: IRANSans;
}

.charts-box-section .md-card {
  min-height: 300px !important;
}

main {
  max-width: 2048px;
  min-height: 100px;
  margin: 0 auto;
}

.md-field.md-has-password .md-toggle-password {

  left: 0 !important;

}

.transform-100 {
  transform: translateX(100%);
}

.multiselect__tags {
  text-align: right !important;
}

.multiselect__element {
  text-align: center !important;

  span {
    text-align: center !important;
  }
}

.filter-section {
  margin: 30px 0;
}

.md-menu-content.md-select-menu .md-list {
  padding: 10px !important;
}

.filter-name {
  text-align: center;
  line-height: 44px;
  font-size: .9em;
}

.filter-item {
  padding: 0 17px;
}

aside .md-badge-content {
  position: absolute !important;
  left: -25px !important;
  top: 8px !important;
}

.notification-badge {
  display: inline-block;
  height: 10px;
  width: 10px;
  right: 33px;
  top: 19px;
  border-radius: 100%;
  background-color: #ff5252;
  position: absolute;
}

.number {
  width: 100px;
  margin: auto;
  font-weight: bold;
  height: 100px;
  color: rgba(112, 112, 112, 0.8);
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  font-size: 1.5em;
  background-color: rgba(248, 22, 12, 0.38);
  color: #fff;
}
label{
  display: block;
  margin-bottom: 10px;
}
.notifs{
  >div{
    margin-bottom: 20px;
  }
}
.notifs .md-card-content{

  position: relative !important;
  top: 8px !important;
  button{
    position: absolute;
    left: 10px;
    bottom: 1px;
  }
}

.md-field label{
  right: 27px !important;
}
.icons{
  display: flex;
  justify-content: center;
  align-content: center;
}
//responsive
@include mq(2000) {
  .hamburger-icon {
    display: none;
  }
}

@include mq(768) {
  aside {
    position: fixed;
    z-index: 900;
    width: 250px;
    height: 100vh;
    top: 0;
    transition: .2s;
    transform: translateX(100%);
    overflow: auto;

  }
  .logo-name {
    display: none;
  }
  .hamburger-icon {
    display: block;
    border-left: none !important;
    text-align: center !important;
    line-height: 77px !important;
    position: relative;
    right: 6px;
    top: 6px;
  }

}

@include mq(480) {
  #notifications {
    display: none !important;
  }
}